<%= form_for(@bet) do |f| %>
  <% if @bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% @bet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :bet_type_id %><br>
    <%= collection_select(:bet, :bet_type_id, BetType.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :bet_sport_id %><br>
    <%= collection_select(:bet, :sport_id, Sport.all, :id, :abbrev, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :bet_source_id %><br>
    <%= collection_select(:bet, :source_id, Source.all, :id, :abbrev, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :spread %><br>
    <%= f.text_field :spread %>
  </div>
  <div class="field">
    <%= f.label :bet_input_type_id %><br>
    <%= collection_select(:bet, :input_type_id, InputType.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :bet_bet_result_id %><br>
    <%= collection_select(:bet, :bet_result_id, BetResult.all, :id, :name, prompt: true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
