<h1>Listing bets</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Bet type</th>
      <th>Sport</th>
      <th>Source</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Spread</th>
      <th>Bet</th>
      <th>Won</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.date %></td>
        <td><%= bet.bet_type %></td>
        <td><%= bet.sport %></td>
        <td><%= bet.source %></td>
        <td><%= bet.description %></td>
        <td><%= bet.amount %></td>
        <td><%= bet.spread %></td>
        <td><%= bet.bet %></td>
        <td><%= bet.won %></td>
        <td><%= link_to 'Show', bet %></td>
        <td><%= link_to 'Edit', edit_bet_path(bet) %></td>
        <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bet', new_bet_path %>
